/* Oculta la barra en general */
::-webkit-scrollbar {
  display: none;
}

/* Configuarmos la fuente */
@font-face {
  font-family: 'pixel';
  src: url('fonts/undertale-deltarune-extended/undertale-deltarune-extended-fixed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: pixel;
}

button{
    font-family: pixel;
}

header{
    text-align: center;
}

#title_content{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    margin-left: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ready{
    font-size: large;
    width: 700px;
    height: 400px;
    margin-top: 30px;
}

#puntuacion{
    height: 30px;
    margin: 30px;
}

/* Clases que se le aplicarán a los botones dependiendo de su estado */
.on{
    background-color: #04AA6D;
}

.on:hover{
    background-color: #46a049;
}

.off{
    background-color: #e7e7e7;
}

.off:hover {
    background-color: #ddd;
}

/* Clases que se le aplicarán al boddy dependiendo del modo */

.claro{
    background-color: #B7C2B3;
    color: black;
}

.oscuro{
    background-color: #6c30cc;
    color: white;
}