body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 226, 252);
    color: rgb(45, 45, 45);
}

/* Titulo */
#titulo{
    text-align: center;
}

/* Nombre_box */
#nombre_box{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 20px;
}

#nombre_input{
    width: 100px;
    margin: 0 5px;
    padding: 5px;
}

#tema_button:hover{
    background-color: cadetblue;
    transform: scale(1.05);
    border-radius: 5px;
}

/* Tarjeta */
#tarjeta_box{
    border-radius: 20px;
    width: 800px; 
    height: 450px;
    margin: auto;
    padding-left: 40px;
    display: flex;
    align-items: center;
}

#foto_perfil{
    width: 300px;
    margin-right: 50px;
}

/* Efectos de la tarjeta */
.brillo{
    filter: brightness(1.1);
}

.oscuro{
    filter: brightness(0.8);
}

/* Temas */
.tema_1{
    background-color: rgb(255, 255, 255);
}

.tema_2{
    background-color: rgb(184, 184, 255);
}

.tema_3{
    background-color: rgb(245, 200, 200);
}

/* Lema */
#lema_box{
    height: 20px; /* Le damos altura para que se mantenga el hueco creado */
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

